## Week 3 Graded Assignment :- Segmenting and Clustering Neighborhood in Toronto

# PROBLEM 2

* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood 
* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
* More than one neighborhood can exist in one postal code area :- 
   ( For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
   These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table) 
* If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough)
*  Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
* In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [191]:
# Import the "requests" library to fetch the page content and bs4 ( BeautifulSoup) for Parsing the HTML page content 
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [192]:
# Scrape a table from Wikipedia using BeautifulSoup, Request,as well as pandas Module. 
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

# Make a GET request to fetch the raw HTML content
HTML_Content = requests.get(url).text

# Parse the HTML Content 
soup = BeautifulSoup(source, 'xml')
table=soup.find('table')

In [193]:
# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
DataFrame = pd.DataFrame(columns = column_names)

In [194]:
# Search all the postcode, Borough, and Neighborhood in Toronto City
for tr_cell in table.find_all('tr'):
    Input_Data=[]
    for td_cell in tr_cell.find_all('td'):
        Input_Data.append(td_cell.text.strip())
    if len(Input_Data)==3:
        DataFrame.loc[len(DataFrame)] = Input_Data

In [195]:
DataFrame.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [196]:
# Use the .shape method to print the number of rows of in original dataframe.
DataFrame.shape

(180, 3)

## Data Cleaning

In [197]:
# Process the cells that have an assigned borough in the dataframe. Ignore cells with a borough that is Not assigned.
DataFrame=DataFrame[DataFrame['Borough']!='Not assigned']
DataFrame.head(5)

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [198]:
DataConditioning_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
DataConditioning_df=DataConditioning_df.reset_index(drop=False)
DataConditioning_df.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [199]:
DataFrame_merge = pd.merge(DataFrame, DataConditioning_df, on='Postalcode')

In [200]:
DataFrame_merge.drop(['Neighborhood'],axis=1,inplace=True)

In [201]:
DataFrame_merge.drop_duplicates(inplace=True)

In [202]:
DataFrame_merge.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)

In [203]:
DataFrame_merge.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [204]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
DataFrame_merge.shape

(103, 3)

In [7]:
pip install geocoder   ## Geocoder was not installed. Therefore, first i have to installed Geocoder Module.

Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Note: you may need to restart the kernel to use updated packages.

In [20]:
# Geocoder Python Package 
import geocoder 

def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [22]:
# here is a link to a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data
import pandas as pd 
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')

In [24]:
geo_df.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848